@page
@model MyAirportRazor.DetailsModelFlight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.CIE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.CIE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.LIG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.LIG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.JEX)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.JEX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DHC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DHC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.PKG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.PKG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.IMM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.IMM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.PAX)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.PAX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flight.DES)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flight.DES)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flight.FLIGHTID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
